{% extends "taller3/template.html" %}
{% load static %}

{% block contenido %}
	

<div class="card card-outline-secondary my-4">
	<div class="card-header">
		Califique las peliculas que haya visto. (Para el usuario activo)
	</div>
	<div class="card-body">
		
		<table class="table table-hover">
			<thead>
				<tr>
				  <th scope="col">Id</th>
				  <th scope="col">Pelicula</th>
				  <th scope="col">Rating</th>
				</tr>
			</thead>
			<tbody>
				<form action="rating" method="post">{% csrf_token %}
					{{ formset.management_form }}
					{% for form in formset %}
										
											
								<tr> 						
								<th>{{form.id}}</th>
								<th>{{form.title}} </th>
								<th>{{form.rating }}</th>
								</tr>
						
					{% endfor %}
					<input  type="submit" value="Enviar">
				</form>
			</tbody>
		</table>	 
	</div>
</div>

              
 {% endblock contenido %}
