{% extends "taller3/template.html" %}
{% load static %}

{% block contenido %}
	
<div class="card mt-4">          
	<div class="card-body">
		<h3 class="card-title">Taller 3 – Últimas tendencias en Sistemas de Recomendación</h3>
		<h4>Objetivos</h4>
		<p class="card-text">
		Explore procesos de enriquecimiento ontológico sobre la información disponible sobre las películas y sobre
atributos que encuentre descritos en dbpedia.</p>
		<span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
		4.0 stars
	</div>
</div>        

<div class="card card-outline-secondary my-4">
	<div class="card-header">
		Grupo 06 - Integrantes
	</div>
	<div class="card-body">
		<p>Taller desarrollado por:</p>
		<p>Jairo Rafael Collante Rivero - jr.collante@uniandes.edu.co</p>
		<p>Omar Rojas Garcia - o.rojasg@uniandes.edu.co</p>
		<p>Ricardo Jaime Santacruz Garzon - rj.santacruz@uniandes.edu.co</p>	
		<hr>           
	</div>
</div>
		
<div class="card card-outline-secondary my-4">
	<div class="card-header">
		Descripción
	</div>
	<div class="card-body">
		<p>El taller 2, la aplicación Web fue desarrollada con el framework Django.</p>
		<small class="text-muted">.</small>
		<hr>           
	</div>
</div>
              
 {% endblock contenido %}