{% extends "taller1/template.html" %}
{% load static %}

{% block contenido %}
	
<div class="card mt-4">          
	<div class="card-body">
		<h3 class="card-title">Modelo Usuario - Usuario</h3>
		<h4>Objetivos</h4>
		<p class="card-text">Modelo Usuario - Usuario</p>
	</div>
</div>        

<div class="card card-outline-secondary my-4">
	<div class="card-header">
		Utilice un modelo basado en Índice de Jaccard
	</div>
	<div class="card-body">
		<p>Utilice un modelo basado en Índice de Jaccard</p>
		
		<hr>           
	</div>
</div>
		
<div class="card card-outline-secondary my-4">
	<div class="card-header">
		Utilice un modelo basado en distancias coseno
	</div>
	<div class="card-body">
		<p>Utilice un modelo basado en distancias coseno.</p>
		<small class="text-muted">.</small>
		<hr>           
	</div>
</div>

<div class="card card-outline-secondary my-4">
	<div class="card-header">
		Utilice un modelo basado en correlación de Pearson
	</div>
	<div class="card-body">
		<p>Utilice un modelo basado en correlación de Pearson</p>
		
		<hr>           
	</div>
</div>
              
 {% endblock contenido %}