{% extends "taller1/template.html" %}
{% load static %}

{% block contenido %}
	
<div class="card mt-4">          
	<div class="card-body">
		<h3 class="card-title">Modelo Usuario - Usuario</h3>		
	</div>
</div>        

	
<div class="card card-outline-secondary my-4">
	<div class="card-header">
		Modelo basado en la similaridad coseno
	</div>
	<div class="card-body">
	
	    <p>Perfil del usuario activo</p>
		<table class="table table-hover">
		  <thead>
		    <tr>
		      <th scope="col">User id</th>
		      <th scope="col">Genero</th>
		      <th scope="col">Edad</th>
		      <th scope="col">Pais</th>
			  <th scope="col">Indice Coseno</th>
		    </tr>
		  </thead>
		  <tbody>		
			<tr> 
				<th scope="row">{{usuario_activo.userid}}</th>
				<td>{{usuario_activo.gender}}</td>
				<td>{{usuario_activo.age}}</td>
				<td>{{usuario_activo.country}}</td>	
				<td>1</td>
			</tr>	
		  <tbody>
		</table>
		
		<p>Perfiles más similares al usuario activo. <small class="text-muted">Se muestran maximo 10 perfiles</small></p>
		
		<table class="table table-hover">
		  <thead>
		    <tr>
		      <th scope="col">User id</th>
			  <th scope="col">Indice Coseno</th>
		    </tr>
		  </thead>
		  <tbody>
		
			{% for i in lista_similares_cosine %} 
			<tr> 
				<th scope="row">{{i.usuario_similar}}</th>				
				<td>{{i.coseno|floatformat:4}}</td>	
			</tr>			
			{% endfor %}
		  <tbody>
		</table>
		
		<p>Recomendación basada en los Artitas que más le gustan al Usuario más similar. <small class="text-muted">Se muestran maximo 10 perfiles</small></p>
		
		<table class="table table-hover">
		  <thead>
		    <tr>
		      <th scope="col">User id</th>
			  <th scope="col">Artista</th>
		    </tr>
		  </thead>
		  <tbody>
		
			{% for i in lista_recomendacion %} 
			<tr> 
				<th scope="row">{{forloop.counter}}</th>				
				<td>{{i}}</td>	
			</tr>			
			{% endfor %}
		  <tbody>
		</table>
		
		<hr>           
	</div>
</div>


              
 {% endblock contenido %}