{% extends "taller1/template.html" %}
{% load static %}

{% block contenido %}

<div class="card mt-4">          
	<div class="card-body">
		<h3 class="card-title">Perfil del usuario " {{usuario.userid}} "</h3>		
		<p class="card-text">Genero: {{usuario.gender}}.</p>	
		<p>Edad: {{usuario.age}}.</p>
		<p>Pais: {{usuario.country}}.</p>
		<p>Registrado: {{usuario.registered}}.</p>
	</div>
</div>



<div class="card card-outline-secondary my-4">
	<div class="card-header">
		Iteracción del Usuario   {{usuario_activo}}
	</div>
	<div class="card-body">
	
			<table class="table table-hover">
		  <thead>
		    <tr>
		      <th scope="col">User id</th>
		      <th scope="col">Código Usuario</th>
		      <th scope="col">Artista</th>
		      <th scope="col">Código Artista</th>
		      <th scope="col">Disco</th>
		    </tr>
		  </thead>
		  <tbody>
		
			{% for i in page_obj %} 
			<tr> 
				<th scope="row">{{i.userid_Profile.userid}}</th>
				<td>{{i.codigo2}}</td>
				<td>{{i.artist}}</td>
				<td>{{i.codigo1}}</td>
				<td>{{i.song}}</td>			
			</tr>			
			{% endfor %}
		  <tbody>
		</table>
	
	
		<div class="pagination">
		    <span class="step-links">
		        {% if page_obj.has_previous %}
		            <a href="?page=1">&laquo; first</a>
		            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
		        {% endif %}
		
		        <span class="current">
		            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
		        </span>
		
		        {% if page_obj.has_next %}
		            <a href="?page={{ page_obj.next_page_number }}">next</a>
		            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
		        {% endif %}
		    </span>
		</div>
		

		<hr>           
	</div>
</div>

{% endblock contenido %}