<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Sistema de Recomendación</title>
	{% load static %} 
  <!-- Bootstrap core CSS -->
  <link href="{% static 'taller1/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'taller1/css/shop-item.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 't1_index' %}">Universidad de los Andes - Sistema de Recomendación - MINE4201</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 't1_index' %}">Taller 1
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Taller 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Taller 3</a>
          </li> 
		  <li class="nav-item">
            <a class="nav-link" href="#">{{ request.session.usuario_activo }}</a>
          </li> 		  
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">
        <h1 class="my-4">Actividades</h1>
        <div class="list-group">
          <a href="{% url 't1_login' %}" class="list-group-item">Login</a>
		  <a href="{% url 't1_perfil' %}" class="list-group-item">Usuario Activo</a>
		  <a href="{% url 't1_modeloUU_J' %}" class="list-group-item">Mod. Jaccard Usuario-Usuario </a>
		  <a href="{% url 't1_modeloUU_C' %}" class="list-group-item">Mod. Coseno Usuario-Usuario </a>
		  <a href="{% url 't1_modeloUU_P' %}" class="list-group-item">Mod. Pearson Usuario-Usuario </a>
		  <a href="{% url 't1_modeloII_J' %}" class="list-group-item">Mod. Jaccard Item-Item </a>
		  <a href="{% url 't1_modeloII_C' %}" class="list-group-item">Mod. Coseno Item-Item </a>
		  <a href="{% url 't1_modeloII_P' %}" class="list-group-item">Mod. Pearson Item-Item </a>
		  <a href="{% url 't1_nuevoP' %}" class="list-group-item">Nuevo Usuario</a>
		  <a href="{% url 't1_nuevoT' %}" class="list-group-item">Nueva Iteracción</a>
          <a href="{% url 't1_listaUsuarios' %}" class="list-group-item">Lista de usuarios</a>
          
        </div>
		<h4 class="my-4">{{ request.session.usuario_activo }}</h4>
      </div>
      <!-- /.col-lg-3 -->
	  <div class="col-lg-9">
      {% block contenido %}

	  {% endblock contenido %}
	  </div>
        
      <!-- /.col-lg-9 -->

    </div>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Talleres - Sistema de Recomendación - MINE 4201 - 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'taller1/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'taller1/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
