{% extends "taller2/template.html" %}
{% load static %}

{% block contenido %}
	
<div class="card mt-4">          
	<div class="card-body">
		<h3 class="card-title">Modelo Hibrido</h3>
	</div>
</div>        

	
<div class="card card-outline-secondary my-4">
	<div class="card-header">
		Utilice un modelo hibrido
	</div>
	<div class="card-body">
		<p>Modelo Hibrido.</p>
		<table class="table table-hover">
		  <thead>
		    <tr>
		      <th scope="col">User id</th>
		       
		    </tr>
		  </thead>
		  <tbody>		
			<tr> 
				<th scope="row">{{usuario_activo.userid}}</th>
				
			</tr>	
		  <tbody>
		</table>
		
		
		<div class="card-body">

			<ul>
				{{resp}}
		
			</ul>
		</div>


		<hr>           
	</div>
</div>

              
 {% endblock contenido %}
