{% extends "taller2/template.html" %}
{% load static %}

{% block contenido %}
	
<div class="card mt-4">          
	<div class="card-body">
		<h3 class="card-title">Modelo Hibrido</h3>
	</div>
</div>        

	
<div class="card card-outline-secondary my-4">
	<div class="card-header">
		Utilice un modelo hibrido
	</div>
	<div class="card-body">
		<p>Modelo Hibrido.</p>
		<table class="table table-hover">
		  <thead>
		    <tr>
		      <th scope="col">User id</th>
		       
		    </tr>
		  </thead>
		  <tbody>		
			<tr> 
				<th scope="row">{{usuario_activo.userid}}</th>
				
			</tr>	
		  <tbody>
		</table>
		
		
		<div class="card-body">

			<ul>
				{{resp}}
		
			</ul>
		</div>

		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Review id</th>
					<th scope="col">Business id</th>
					<th scope="col">Business name</th>
					<th scope="col">Estrellas</th>
					<th scope="col">Fecha</th>
				</tr>
			</thead>
			<tbody>
				{% for i in resp %}
				<tr>
					<th scope="row">{{i.business_id}}</td>
					<td>{{i.name}}</td>
					<td>{{i.sate}}</td>
					<td>{{i.city}}</td>
					<td>{{i.address}}</td>
					<td>{{i.stars}}</td>
					<td>{{i.categories}}</td>
				</tr>
				{% endfor %}
			<tbody>
		</table>

		<hr>           
	</div>
</div>

              
 {% endblock contenido %}
